body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    background-color: rgb(219, 217, 223);
    background-position: 120% 50%; 
    text-align: justify;
    text-transform: capitalize;
}
header{
    text-align: center;
    background-color: rgb(143, 143, 23);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-style: oblique;
    background-position: 0% 0%;
}
.galeria {
    display: flex;
    gap: 20px;
}

.imagem {
    width: 300px;
    transition: transform 0.3s ease;
}

.imagem:hover {
    transform: scale(1.2);
    z-index: 10;
}

.galeria img {
    width: 300px;
    height: auto;
}
.p {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: aquamarine;
}
h1 {font-size: x-large;
    font-weight: bolder;
    font-style: oblique;
    color: blueviolet;
    text-decoration: underline;

}
