body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    background-color: blanchedalmond;
    background-position: 120% 50%; 
    text-align: justify;
    text-transform: capitalize;
}
header{
    text-align: center;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-style: oblique;
    background-position: 0% 0%;
}